<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="C:\Logger\${gdc:item=SolutionName}\${date:format=yyyy-MM-dd}-${level}.log"
            layout="${date:format=yyyyMMddHHmmss} ${message}" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="nlogFileAppender" minlevel="Trace" writeTo="logfile" />
    <logger name="nlogConsoleAppender" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>